body{
    background: linear-gradient(135deg, #0dcaf0, #0d6efd);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card{
    width: 100%;
    max-width: 300px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.btn-login{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #0d6efd;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    transition: 1s;
}

h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #0d6efd;
}

.form-control{
    border-radius: 10px;
}

.btn-login:hover{
    background-color: black;
    color: #ffff;
}

.enlaces{
    text-align: center;
    font-size: 0.9em;
}

.enlaces a{
    text-decoration: none;
    color: #0d6efd;
}

.enlaces a:hover{
    text-decoration: underline;
    color: #000000;
        transition: 0.5s;
}